html, body {
  background-color: #fadde1;

}
.tituloUno 
{font-size: 60px;
    font-family: Arial;
    text-align: center;
    background-color: #fadde1;
    color: #ff87ab;
  }

  .cajitaUno {
    margin: auto;
    text-align: center;
  }
.cajaUno {
    margin: auto;
    text-align: center;
    width:350px;
}
.rango{
  margin: auto;
  text-align: center;
}
.divUno {
  margin: auto;
  text-align: center;
}
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: auto;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

